$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
// endbower

@import 'partials/home';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


body {
  padding-right: 0 !important;
   padding-left: 0 !important;
}


.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


.header {
  border-bottom: 1px solid #e5e5e5;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }

  .title {
    padding-top: 20px;
  }
}


.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/background.png");
  height: 100%;
}
.bgimg-2 {
  background-image: url("../images/bgimg2.png");
  height: 100%;
}

body {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.landing-section{
  height: 700px;
  width: 100%;
}
.section-uplightpadding{
  margin-top: 80px;
}
.main-header{
  height: 200px;
}
.search-filters{
  margin-left: 10px!important;
  margin-right: 10px!important;
  height: 46px!important;
  font-size: medium!important;
}
.home-search-button{
  width: 100%!important;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(248,248,248,0.98);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  height: 50px;
  font-size: medium;
}
.site-header a {
  color: #000000;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}



/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


/*
 * Custom
 */

.appointment-date {
  color: #606060;
  border-bottom: 1px solid #F0F0F0;
  margin-top: 25px;
}

.appointments-list {
  list-style-type: none;
}

.appointments-list li {
  margin: 10px auto;
}

.appointments-list .appointment-description {
  border-right: 1px dotted rgba(0, 0, 0, 0.2);
}

.appointments-list .main-row {
  font-size: 2em;
}

.appointments-list .detailed-row {
  font-size: 1.5em;
}

.appointments-list .appointment-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.week-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.week-navigation .week {
  font-size: 1.3em;
}

.week-navigation .btn {
  font-style: bold;
}

.appointment-item {
  margin: 5px 0;
}

.appointment {
  .appointment-date {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
  }

  .appointment-details {
    margin-top: 10px;

    .appointment-institution {
      text-align: right;
      font-size: 1.5em;
    }
  }

  .appointment-actions {
    margin-top: 10px;
    text-align: right;
  }
}

.appointment .appointment-patient {
  display: flex;
  flex-direction: column;

  .appointment-patient-name {
    font-size: 1.5em;
    font-weight: bold;
  }

  .appointment-patient-email {
    font-size: 1.5em;
  }
}

.search-doctor-label {
  color: white;
  font-size: 1.5em;
  margin-top: 75px;
}

.doctor-name-search {
  display: flex;
  width: 75%;
  margin: auto;

  input {
    margin: 0 5px;
    flex-grow: 1;
  }
}

.doctor-search-params {
  font-weight: bold;
}

#gmaps {
  width: 100%;
  height: 100%;
}

.landing-footer{
  height: 24px;
}
