$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
// endbower

@import 'partials/home';
@import 'modules/alerts';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


body {
  padding-right: 0 !important;
   padding-left: 0 !important;
}


.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


.header {
  border-bottom: 1px solid #e5e5e5;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }

  .title {
    padding-top: 20px;
  }
}


.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/background.png");
  height: 100%;
}
.bgimg-2 {
  background-image: url("../images/bgimg2.png");
  height: 100%;
}

body {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.landing-section{
  height: 700px;
  width: 100%;
}
.section-uplightpadding{
  margin-top: 80px;
}
.main-header{
  height: 200px;
}
.search-filters{
  margin-left: 10px!important;
  margin-right: 10px!important;
  height: 46px!important;
  font-size: medium!important;
}
.home-search-button{
  width: 100%!important;
}

/*
 * Custom translucent site header
 */

.container>h1 {
  font-size: 3.5em;
}

.no-results {
  text-align: center;
  font-size: 2em;
}

.no-results-action {
  font-size: 1em;
}

.site-header {
  background-color: rgba(248,248,248,0.98);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  height: 50px;
  font-size: medium;
}
.site-header a {
  color: #000000;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}



/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


/*
 * Custom
 */

.underline {
  border-bottom: 1px solid #000000;
}

.appointment-date {
  color: #606060;
  border-bottom: 1px solid #F0F0F0;
  margin-top: 25px;
}

.appointments-list {
  list-style-type: none;
}

.appointments-list li {
  margin: 10px auto;
}

.appointments-list .appointment-description {
  border-right: 1px dotted rgba(0, 0, 0, 0.2);
}

.appointments-list .main-row {
  font-size: 2em;
}

.appointments-list .detailed-row {
  font-size: 1.5em;
}

.appointments-list .appointment-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.week-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.week-navigation .week {
  font-size: 1.3em;
}

.week-navigation .btn {
  font-style: bold;
}

.appointment-item {
  margin: 5px 0;
}

.appointment {
  .appointment-date {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
  }

  .appointment-details {
    margin-top: 10px;

    .appointment-institution {
      text-align: right;
      font-size: 1.5em;
    }
  }

  .appointment-actions {
    margin-top: 10px;
    text-align: right;
  }
}

.appointment .appointment-patient {
  display: flex;
  flex-direction: column;

  .appointment-patient-name {
    font-size: 1.5em;
    font-weight: bold;
  }

  .appointment-patient-email {
    font-size: 1.5em;
  }
}

.search-doctor-label {
  color: white;
  margin-top: 75px;
  margin-bottom: 50px;
}

.doctor-name-search {
  display: flex;
  width: 75%;
  margin: auto;

  input {
    margin: 0 5px;
    flex-grow: 1;
  }
}

.doctor-search-params {
  font-weight: bold;
}

.doctor-details {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.doctor-rating {
  .rating {
    justify-content: start;
    align-items: left;
    display: inline-block;
  }
}

.doctor-avatar {
  margin: 0 10px;
}

.search-doctor-profile-container {
  margin: 15px 0;
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 5px;
}

.search-doctor-profile {
  display: flex;
  padding: 10px;

  doctor-appointment-week {
    width: 650px;
  }

  .day-columns {
    margin: 0px;
  }

  .selected-appointment {
    font-size: 1em;
  }
}

.doctor-specialities {
  margin: 0;
  font-size: 1.7em;

  .label {
    margin-right: 5px;
  }
}

.doctor-profile {
  display: flex;
  padding: 10px;

  .doctor-name h2 {
    color: #999999;
  }

  .doctor-institutions p {
    font-size: 1.3em;
    padding: 10px 0;
  }

  .send-email .btn {
    font-size: 1.3em;
  }
}

.day-columns {
  display: flex;
  flex-flow: row;
  margin: 25px;

  .calendar-placeholder {
    min-height: 50px;
  }

  .day-column {
    flex-grow: 1;
    text-align: center
  }

  .day-column:nth-child(even) {
    background-color: #DFDFDF;
  }

  .day-column:nth-child(odd) {
    background-color: #CECECE;
  }

  .appointment-slot-day {
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);
  }

  .day-appointment {
    font-size: 2em;
    width: 70%;
    margin: 10px auto;
    background-color: #FAFAFA;
    border-radius: 2px;

    transition: color 0.15s, background-color .15s;
    transition-timing-function: ease-in-out;

    :hover {
      background-color: #0069D9;
      color: white;
      cursor: pointer;
    }
  }

  .day-appointment.btn-primary {
    color: black;
    border: none;

    :hover {
      color: white;
    }
  }
}

.selected-appointment {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  .selected-appointment-data {
    font-weight: bold;
  }

  .btn {
    font-size: 1em;
  }
}
