<div class="appointment">
  <div class="appointment-date">
    <p>{{ $ctrl.appointment.date | date: 'HH:mm' }}</p>
    <p>{{ $ctrl.appointment.date | date: 'dd/MM/yyyy' }}</p>
  </div>
  <div class="appointment-details row">
    <div class="appointment-patient col-xs-6" ng-if="$ctrl.subject === 'patient'">
      <h3>Paciente</h3>
      <span class="appointment-patient-name">
        {{ $ctrl.appointment.patient.user.firstName }} {{ $ctrl.appointment.patient.user.lastName }}
      </span>
      <a href="mailto:{{ $ctrl.appointment.patient.user.email }}">{{ $ctrl.appointment.patient.user.email }}</a>
    </div>
    <div class="appointment-patient col-xs-6" ng-if="$ctrl.subject === 'doctor'">
      <h3>Doctor</h3>
      <span class="appointment-patient-name">
        {{ $ctrl.appointment.appointmentSlot.worksIn.doctor.user.firstName }} {{ $ctrl.appointment.appointmentSlot.worksIn.doctor.user.lastName }}
      </span>
      <a href="mailto:{{ $ctrl.appointment.appointmentSlot.worksIn.doctor.user.email }}">{{ $ctrl.appointment.appointmentSlot.worksIn.doctor.user.email }}</a>
    </div>
    <div class="appointment-institution col-xs-6">
      <h3>Institución</h3>
      {{ $ctrl.appointment.appointmentSlot.worksIn.institution.name }}
    </div>
  </div>
  <div class="appointment-actions">
    <button class="btn btn-danger"
            ng-click="$ctrl.onCancelClick({appointment: $ctrl.appointment})"
            ng-if="!$ctrl.appointment.isPast"
            ng-disabled="$ctrl.isCanceling">
      {{ $ctrl.isCanceling ? 'Cancelando...' : 'Cancelar' }}
    </button>
  </div>
</div>
