<div class="container">
  <h2>Turnos disponibles</h2>
  <div ng-show="appointmentsSearched && !emptyAppointments">
    <h5>Encontramos estos turnos para vos.</h5>
    <table class="table table-bordered">
      <thead>
      <th>Día</th>
      <th>Fecha</th>
      <th>Duración</th>
      <th>Doctor</th>
      <th>Acciones</th>
      </thead>
      <tbody>
      <tr ng-repeat="appointment in appointments">
        <td>{{ dayOfWeek(appointment.appointmentSlot) }}</td>
        <td>{{ appointment.date | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>1 hs</td>
        <td>
          <a ui-href="/doctors/{{ appointment.slot.worksIn.doctor.id }}">
            Dr. {{ appointment.appointmentSlot.worksIn.doctor.first_name }}, {{ appointment.appointmentSlot.worksIn.doctor.last_name }}
          </a>
        </td>
        <td>
          <form ng-submit="bookAppointment(appointment)">
            <button type="submit" class="btn btn-success">Reservar</button>
          </form>
        </td>
      <tr>
      </tbody>
    </table>
  </div>
  <p ng-show="appointmentsSearched && emptyAppointments">No hay turnos disponibles</p>
  <nav>
    <ul class="pager">
      <li class="previous">
        <button class="btn btn-default" ng-disabled="!hasPreviousPage" ng-click="prevPage()">
          &lt; Anterior
        </button>
      </li>
      <li class="next">
        <button class="btn btn-default" ng-disabled="!hasNextPage" ng-click="nextPage()">
          Siguiente &gt;
        </button>
      </li>
    </ul>
  </nav>
</div>
