<div class="text-center bgimg-1 landing-section">
  <div class="main-header"></div>
  <div class="main-header">
    <h1 class="display-1 font-weight-normal" style="color:white">Reserva tu turno médico</h1>
    <h2 class="font-weight-light" style="color:white">Más de 2500 profesionales a tu disposición en todo el país</h2>
  </div>

  <div class="filter-container">
    <form class="form-inline" action="" method='get' >
        <select class="search-filters form-control form-control-filter input-lg col"
                ng-model="selectedInstitution"
                ng-options="institution.id as institution.name for institution in institutions">
        </select>
        <select class="search-filters form-control form-control-filter input-lg col"
                ng-model="selectedSpeciality"
                ng-options="speciality.id as speciality.name for speciality in specialities">
        </select>
        <select class="form-control form-control-filter input-lg search-filters col"
                ng-model="selectedNeighborhood"
                ng-options="neighborhood.id as neighborhood.name for neighborhood in neighborhoods">
        </select>
        <button class="btn btn-success search-filters home-search-button col" type="submit">Buscar</button>
    </form>
  </div>
</div>
<div class="landing-section d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

<div id="sobrenosotros" class="col-lg-12 bgimg-2 landing-section">
  <div class="col-sm-4">
    <h1 class=" section-uplightpadding display-5 font-weight-normal"style="color:black"> QUIÉNES SOMOS</h1>
    <h2 class=" display-3 font-weight-light"style="color:black">
      UNA NUEVA EXPERIENCIA PARA PLANIFICAR MEJOR TU AGENDA.</h2>
    <p class=" lead font-weight-light"style="color:black">
      ChoPidoturnos es la primer red de centros de médicos que te ofrece una solución simple para planificar tu agenda.</p>
    <p class=" lead font-weight-light"style="color:black">
      Nuestro equipo esta trabajando para presentarte los mejores centros médicos para que puedas programar tus turnos de forma sencilla y rápida.</p>
  </div>
</div>

<div id="map" class="landing-section"></div>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
      <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Government</a></li>
        <li><a class="text-muted" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>

<!-- Placed at the end of the document so the pages load faster -->
<script>function myMap() {
    var mapOptions = {
      center: new google.maps.LatLng(-34.5880643, -58.4615831),
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map"), mapOptions);
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
