<div class="container" ng-controller="InstitutionDetailCtrl as ctrl">
  <div class="col-md-7">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1>{{ctrl.institution.name}}</h1>
      </div>
      <div class="panel-body">
        <img class="img-responsive center-block" src="http://placehold.it/400x300"/>
        <br>
        <address>
          {{ctrl.institution.address.street_name}} {{ctrl.institution.address.street_number}}<br>
          {{ctrl.institution.address.neighborhood}} {{ctrl.institution.address.city}} - {{ctrl.institution.address.state}},
          {{ctrl.institution.address.country}}
        </address>
        <a href="#" ui-sref="institutionDoctors({institutionId:ctrl.institution.id})" class="btn btn-primary">
          Ver doctores
        </a>
        <a href="#" ui-sref="institutionSpecialities({institutionId:ctrl.institution.id})" class="btn btn-primary">
          Ver especialidades
        </a>
      </div>
    </div>
  </div>
</div>
