<div class="title container" ng-app="ChoPidoTurnos" ng-controller="InstitutionSpecialitiesCtrl as ctrl">
<h1>Especialidades -
  <a href="#/institutions/{{ctrl.institution.id}}">
    {{ctrl.institution.name}}
  </a>
</h1>
<h3>
  {{ctrl.institution.address.street_name}} {{ctrl.institution.address.street_number}}
  {{ctrl.institution.address.neighborhood}}, {{ctrl.institution.address.city}},
  {{ctrl.institution.address.state}}, {{ctrl.institution.address.country}}
</h3>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Especialidad</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="s in ctrl.specialities">
      <td>{{s.name}}</td>
      <td>
        <a class="btn btn-success"
           href="<c:url value='/institutions/${institution.id}/specialities/${speciality.id}/appointment_slots'/>">
          Pedir turno
        </a>
      </td>
    </tr>
  </tbody>
</table>
</div>
