<div class="title container">
  <h1>Instituciones</h1>
  <div class="row">
    <div class="col-md-4" ng-repeat="i in $ctrl.institutions">
      <div>
        <div class="panel-heading">
          <img class="img-responsive" src="images/rsz_placeholder.png"/>
        </div>
        <div class="panel-body">
          <h2 class="institution-name">
            <a ui-sref="institution({institutionId:'{{i.id}}'})">
              {{i.name}}
            </a>
          </h2>
          <p>
            {{i.address.street_name }} {{i.address.street_number}},
            {{i.address.neighborhood}},
            {{i.address.city}}, {{i.address.state}},
            {{i.address.country}}
          </p>
        </div>
      </div>
    </div>
    <p class="no-results" ng-if="$ctrl.institutions.length === 0">
      Aún no hay instituciones registradas
    </p>
  </div>
</div>
