<form role="form" ng-submit="ctrl.login()">
  <div class="form-group">
    <label for="email" class="control-label">Email</label>
    <input type="email" id="email" class="form-control" placeholder="Email" ng-model="email" />
  </div>
  <div class="form-group">
    <label for="password" class="control-label">Contraseña</label>
    <input type="password" id="password" class="form-control" placeholder="Contraseña" ng-model="password" />
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="rememberme" value="">
        Recordarme
      </label>
    </div>
  </div>
  <login-submit-btn></login-submit-btn>
</form>
