<div class="title container">
  <alerts alerts="$ctrl.alerts" on-alert-closed="$ctrl.alerts.splice(index, 1)"></alerts>
  <h1>Mis turnos</h1>
  <div ng-repeat="pa in $ctrl.appointments | orderBy: '+date'">
    <appointment appointment="pa" subject="doctor" on-cancel="$ctrl.cancelAppointment(appointment)">
    </appointment>
  </div>
  <div ng-if="$ctrl.appointments.length === 0" align="middle">
    <img src="images/no_appointments_scheduled.png" height="400"/>
    <h2>No tenés turnos agendados. ¿Ya te hiciste tu chequeo anual?</h2>
  </div>
</div>
