<div class='container'>
  <h2>Ingrese sus datos</h2>
  <form role="form" ng-submit="$ctrl.register()">
    <div class="form-group">
      <label for="email" class="control-label">
        Email
      </label>
      <input id="email" type="email" path="email" class="form-control" placeholder="Email" ng-model="$ctrl.email"/>
    </div>
    <div class="form-group">
      <label for="name" class="control-label">Nombre</label>
      <input id="name" path="name" class="form-control" placeholder="Nombre" ng-model="$ctrl.firstName"/>
    </div>
    <div class="form-group">
      <label for="lastName" class="control-label">Apellido</label>
      <input id="lastName" path="lastName" class="form-control" placeholder="Apellido" ng-model="$ctrl.lastName"/>
    </div>
    <div class="form-group">
      <label for="lastName" class="control-label">Telefono</label>
      <input id="phone" path="phone" class="form-control" placeholder="Telefono" ng-model="$ctrl.phone"/>
    </div>
    <div class="form-group">
      <label for="password" class="control-label">Contraseña</label>
      <input type="password" id="password" class="form-control" path="password" placeholder="Contraseña"
             ng-model="$ctrl.password"
             pattern=".{8,}" title="La contraseña debe tener como mínimo 8 caracteres"/>
    </div>
    <div class="form-group">
      <label for="password-confirmation" class="control-label">Confirmar Contraseña</label>
      <input type="password" id="password-confirmation" class="form-control" path="password"
             placeholder="Confirmar Contraseña" ng-model="$ctrl.passwordConfirmation"
             pattern=".{8,}" title="La contraseña debe tener como mínimo 8 caracteres"/>
    </div>
    <register-submit-btn></register-submit-btn>
  </form>
</div>
