<div class="container" ng-controller="RequestPasswordRecoveryCtrl as $ctrl">
  <alerts alerts="$ctrl.alerts" on-alert-closed="$ctrl.alerts.splice(index, 1)"></alerts>
  <h1>Restablecer contraseña</h1>
  <form ng-submit="$ctrl.requestRecovery()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" ng-model="$ctrl.email" id="email" class="form-control">
    </div>
    <button type="submit" class="form-control">Restablecer contraseña</button>
  </form>
</div>
