<div>
 <div style="display:inline-block;">
    <div uib-datepicker ng-model="dt" ng-change="reloadDates()"class="well well-sm" style="min-height:200px" datepicker-options="options"></div>
  </div>
  <div class="modal-appointments-list">
    <table class="table table-hover" >
        <tr ng-repeat="day in $ctrl.appointmentDays">
          <th>
            {{ $ctrl.dayOfWeek(day) }} - {{ day | date: 'dd/MM/yyyy' }}
          </th>
          <td class="modal-table-row" ng-repeat="appointment in $ctrl.appointmentGroups[day]" ng-click="$ctrl.handleAppointmentSelected(appointment.id)">
            {{ appointment.date | date: 'HH:mm' }}
          </td>
        </tr>
        <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    </table>
  </div>
</div>
