{% extends "layouts/base.twig" %}
{% block content %}
<div class="panel panel-default">
	<div class="panel-body">
		<h1>Doctor</h1>
		<h2>{{doctor.name}}, {{doctor.last_name}}</h2>
		<h3>{{doctor.speciality}}</h3>
		<p>{{doctor.email}}</p>
	</div>
</div>
{% endblock %}